* {
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.products {
  width: 1000px;
  margin: 10px auto;
  text-align: end;
  display: inline-block;
}

.product {
  display: inline-block;
  position: relative;
  margin: 1px;
  width: 260px;
  margin: 0 3px;

  background-color: aqua;
}

.album-image {
  position: relative;
}
.album-image img {
  width: 100%;
  display: inline-block;
}

.badge_red {
  padding: 3px;
  font-size: 0.75rem;
  position: absolute;
  bottom: 1rem;
  left: 0px;
  color: white;
  display: inline-block;
  background-color: rgb(212, 8, 59);
  font-weight: 600;
}

.badge_green {
  padding: 3px 6px;
  font-size: 0.75rem;
  font-weight: 600;
  position: absolute;
  bottom: 1rem;
  left: 37px;
  color: white;
  background-color: #0b8a6afc;
}

.bg_green {
  padding: 3px 6px;
  font-size: 0.75rem;
  font-weight: 600;
  position: absolute;
  bottom: 1rem;
  left: 0;
  color: white;
  background-color: #0b8a6afc;
}

.brand {
  text-align: left;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
}

.price {
  color: rgb(218, 6, 59);
  margin-right: 8px;
}

.out-price {
  text-decoration: line-through;
  color: rgb(109, 104, 104);
}

.caption {
  display: block;
  text-align: left;
}

.like {
  position: absolute;
  top: 1rem;
  right: 12px;
  color: black;
  background-color: white;
  padding: 6px 14px;
}
